:root{
  --border-radius-ap: 8px;
  --small-title: 1.2rem;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*:after {
  /*inherit hereda el box-sizing de su elemento padre que puede ser cualquier elemento, por ejemplo un div*/
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(255, 255, 255);
}

body {
  width: 100vw;
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgb(104, 172, 185) 100%
  );
  display: grid;
  place-content: center;
}

.container {
  background: #ffffff17;
  width: 410px;
  height: 550px;
  border-radius: var(--border-radius-ap);
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.title{
  text-align: center;
}

.areaPssw {
  //margin-top: 12px;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  background: #ffffff17;
  border-radius: var(--border-radius-ap);

  &-pssw {
    width: 100%;
    height: 50px;
    padding: 8px 12px;
    //color: #000;
    font-size: 24px;
    background: transparent;
    border: none;

    &:focus {
      outline: none;
    }
  }

  &-buttons {
    display: flex;
    //background-color: red;
    padding: 10px;
    gap: 8px;

    img {
      cursor: pointer;
    }
  }
}

.areaCustom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  &-title {
    font-size: 1.75rem;
  }

  &-digits {
    font-size: var(--small-title);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;

    &-select {
      display: flex;
      align-items: center;
      gap: 8px;

      &-value {
        display: inline-block;
        background: #ffffff17;
        padding: 12px;
        border-radius: var(--border-radius-ap);
        //width: 16px;
        //height: 16px;
      }

      &-range {
        width: 250px; /* Hace que el input ocupe el 100% del ancho del contenedor */
        height: 40px; /* Altura del riel del rango */
        cursor: pointer;
      }
    }
  }

  &-characteres {
    background-color: #ffffff17;
    padding: 16px;
    border-radius: var(--border-radius-ap);
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    // margin-bottom: 12px;

    &-title{
      font-size: var(--small-title);
      margin-bottom: 8px;
    }
        
    &-boxes{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        "mayus minus"
        "symbols numbers"
        "special special";
      column-gap: 40px;
      row-gap: 8px;
      
      div{
        display: flex;
        gap: 4px;
        
        &:nth-child(5){
          justify-self: start;
          grid-area: special;
        }
      }
    }

    &-character{
      cursor: pointer;
    }
  }
}

.error{
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 1.1rem;
  
  span{
    color: #ff9701;
  }
}
