:root {
  --border-radius-ap: 8px;
  --small-title: 1.2rem;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*:after {
  /*inherit hereda el box-sizing de su elemento padre que puede ser cualquier elemento, por ejemplo un div*/
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(255, 255, 255);
}

body {
  width: 100vw;
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(104, 172, 185) 100%);
  display: grid;
  place-content: center;
}

.container {
  background: rgba(255, 255, 255, 0.0901960784);
  width: 410px;
  height: 600px;
  border-radius: var(--border-radius-ap);
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.title {
  text-align: center;
  font-size: 2.3rem;
}

.areaPssw {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.0901960784);
  border-radius: var(--border-radius-ap);
}
.areaPssw-pssw {
  width: 100%;
  height: 50px;
  padding: 8px 12px;
  font-size: 24px;
  background: transparent;
  border: none;
}
.areaPssw-pssw:focus {
  outline: none;
}
.areaPssw-buttons {
  display: flex;
  padding: 10px;
  gap: 8px;
}
.areaPssw-buttons img {
  cursor: pointer;
}

.areaCustom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.areaCustom-title {
  font-size: 1.75rem;
}
.areaCustom-digits {
  font-size: var(--small-title);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12px;
}
.areaCustom-digits-select {
  display: flex;
  align-items: center;
  gap: 8px;
}
.areaCustom-digits-select-value {
  display: inline-block;
  background: rgba(255, 255, 255, 0.0901960784);
  padding: 12px;
  border-radius: var(--border-radius-ap);
}
.areaCustom-digits-select-range {
  width: 250px; /* Hace que el input ocupe el 100% del ancho del contenedor */
  height: 40px; /* Altura del riel del rango */
  cursor: pointer;
}
.areaCustom-characteres {
  background-color: rgba(255, 255, 255, 0.0901960784);
  padding: 16px;
  border-radius: var(--border-radius-ap);
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.areaCustom-characteres-title {
  font-size: var(--small-title);
  margin-bottom: 8px;
}
.areaCustom-characteres-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "mayus minus" "symbols numbers" "special special";
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 8px;
}
.areaCustom-characteres-boxes div {
  display: flex;
  gap: 4px;
}
.areaCustom-characteres-boxes div:nth-child(5) {
  justify-self: start;
  grid-area: special;
}
.areaCustom-characteres-character {
  cursor: pointer;
}

.error {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 1.1rem;
}
.error span {
  color: #ff9701;
}/*# sourceMappingURL=style.css.map */