:root {
  --border-radius-ap: 8px;
  --small-title: 1.2rem;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*:after {
  /*inherit hereda el box-sizing de su elemento padre que puede ser cualquier elemento, por ejemplo un div*/
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
  color: rgb(0, 0, 0);
}

body {
  width: 100vw;
  height: 100vh;
   /** background-image: linear-gradient(174.2deg, rgb(255, 244, 228) 7.1%, rgb(240, 246, 238) 67.4%); fondo viejo*/
   background: linear-gradient(274deg, #f2ffe3b2 0%, #d9e7ff8c 100%);
  display: grid;
  place-content: center;
}

.container {
  background: rgba(107, 107, 107, 0.039);
  backdrop-filter: 6px;
  width: 440px;
  height: 610px;
  border-radius: var(--border-radius-ap);
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 2.1rem;
}

.areaPssw {
  //margin-top: 12px;
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(107, 107, 107, 0.068);
  border-radius: var(--border-radius-ap);
  position: relative;

  .generate-pssw{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 94%;
    margin-top: -14px;
  }

  &-pssw {
    width: 100%;
    height: 50px;
    padding: 8px 2px;
    //color: #000;
    font-size: 25px;
    background: transparent;
    border: none;
    text-align: center;

    &:focus {
      outline: none;
    }
  }

  &-areaButtons {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    gap: 12px;
    padding-top: 8px;
    
    &-btn{
      background: #6d6d6d27;
      padding: 10px;
      font-weight: 500;
      font-size: .9rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      width: 140px;
      border-radius: 6px;
      cursor: pointer;
    }
  }
}

.security-color{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8px;
  padding: 0;
  margin: 0;
  // background-color: #4ce253;

  &-back{
    width: 100%;
    height: 8px;
    background-color: #a7a7a7;
    position: absolute;

  }

  &-aply{
    height: 8px;
    z-index: 2;
    position: absolute;
  }
}

// .sec-low-red{
//   background-color: #e2514c;
//   width: 33.33%;
// }

.sec-medium-yellow{
  background-color: #f5d04b;
  width: 55%;
  transition: .5s;
}

.sec-high-green{
  background-color: #9cd864;
  width: 75%;
  transition: .5s;
}

.sec-hightest-green{
  background-color: #1eb823;
  width: 100%;
  transition: .5s;
}

.areaCustom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  &-title {
    font-size: 1.75rem;
  }

  &-digits {
    font-size: var(--small-title);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;

    &-select {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 8px;
      margin-top: 6px;

      &-value {
        // display: inline-block;
        background: #6d6d6d27;
        padding: 12px;
        border-radius: var(--border-radius-ap);
        width: 58px;
        border: none;
        font-size: 1rem;
        font-weight: 500;
        
        &:focus{
          outline: none;
        }        
      }

      &-range {
        width: 250px;
        /* Hace que el input ocupe el 100% del ancho del contenedor */
        height: 40px;
        /* Altura del riel del rango */
        cursor: pointer;
      }
    }
  }

  &-characteres {
    background: rgba(107, 107, 107, 0.075);
    padding: 16px;
    border-radius: var(--border-radius-ap);
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    // margin-bottom: 12px;

    &-title {
      font-size: var(--small-title);
      margin-bottom: 8px;
    }

    &-boxes {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "mayus minus"
        "symbols numbers"
        "special special";
      column-gap: 40px;
      row-gap: 8px;

      div {
        display: flex;
        gap: 4px;

        &:nth-child(5) {
          justify-self: start;
          grid-area: special;
        }
      }
    }

    &-character {
      cursor: pointer;
    }
  }
}

.error {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 1.1rem;

  span {
    color: #ff9701;
  }
}

@media (max-width: 440px) {
  .container{
    background: none;
  }

  .areaPssw{
    width: 94%;
  }
}

.bgIcons{
  background: #6d6d6d27;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.ContentListPssw{
  background-image: linear-gradient(174.2deg, rgb(228, 232, 255) 7.1%, rgb(242, 246, 238) 67.4%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: grid;
  place-content: center;
}

.listPssw{
  background-color: rgba(109, 109, 109, 0.0901960784);
  width: 94%;
  height: 68%;
  padding: 16px;
  border-radius: var(--border-radius-ap);
  font-size: 1.1rem;
  overflow-y: auto;
}

.itemPssw{
  width: 98% !important;
  margin-left: 8px;
  margin-bottom: 12px;
  width: 80%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #6496d817;
  border-radius: 8px;

  &:hover{
    background-color: #6496d82c;
    //cursor: pointer;
  }
}

.actions{
  //background-color: red;
  display: flex;
  gap: 8px;

  img{
    cursor: pointer;
  }
}





// .inactive{
//   display: none;
// }