:root {
  --border-radius-ap: 8px;
  --small-title: 1.2rem;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*:after {
  /*inherit hereda el box-sizing de su elemento padre que puede ser cualquier elemento, por ejemplo un div*/
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(0, 0, 0);
}

body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(174.2deg, rgba(255, 244, 228, 1) 7.1%, rgba(240, 246, 238, 1) 67.4%);
  display: grid;
  place-content: center;
}

.container {
  background: #3131310a;
  backdrop-filter: 6px;
  width: 410px;
  height: 600px;
  border-radius: var(--border-radius-ap);
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.title {
  text-align: center;
  font-size: 2.3rem;
}

.areaPssw {
  //margin-top: 12px;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #6d6d6d17;
  border-radius: var(--border-radius-ap);
  position: relative;

  .generate-pssw{
    display: flex;
  }

  &-pssw {
    width: 100%;
    height: 50px;
    padding: 8px 12px;
    //color: #000;
    font-size: 24px;
    background: transparent;
    border: none;

    &:focus {
      outline: none;
    }
  }

  &-buttons {
    display: flex;
    //background-color: red;
    padding: 10px;
    gap: 8px;

    img {
      cursor: pointer;
    }
  }
}

.security-color{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8px;
  padding: 0;
  margin: 0;
  // background-color: #4ce253;

  &-back{
    width: 100%;
    height: 8px;
    background-color: #a7a7a7;
    position: absolute;

  }

  &-aply{
    height: 8px;
    z-index: 2;
    position: absolute;
  }
}

// .sec-low-red{
//   background-color: #e2514c;
//   width: 33.33%;
// }

.sec-medium-yellow{
  background-color: #f5d04b;
  width: 55%;
  transition: .5s;
}

.sec-high-green{
  background-color: #9cd864;
  width: 75%;
  transition: .5s;
}

.sec-hightest-green{
  background-color: #1eb823;
  width: 100%;
  transition: .5s;
}

.areaCustom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  &-title {
    font-size: 1.75rem;
  }

  &-digits {
    font-size: var(--small-title);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;

    &-select {
      display: flex;
      align-items: center;
      gap: 8px;

      &-value {
        display: inline-block;
        background: #6d6d6d17;
        padding: 12px;
        border-radius: var(--border-radius-ap);
        //width: 16px;
        //height: 16px;
      }

      &-range {
        width: 250px;
        /* Hace que el input ocupe el 100% del ancho del contenedor */
        height: 40px;
        /* Altura del riel del rango */
        cursor: pointer;
      }
    }
  }

  &-characteres {
    background-color: #6d6d6d17;
    padding: 16px;
    border-radius: var(--border-radius-ap);
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    // margin-bottom: 12px;

    &-title {
      font-size: var(--small-title);
      margin-bottom: 8px;
    }

    &-boxes {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "mayus minus"
        "symbols numbers"
        "special special";
      column-gap: 40px;
      row-gap: 8px;

      div {
        display: flex;
        gap: 4px;

        &:nth-child(5) {
          justify-self: start;
          grid-area: special;
        }
      }
    }

    &-character {
      cursor: pointer;
    }
  }
}

.error {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 1.1rem;

  span {
    color: #ff9701;
  }
}

// .areaPssw-pssw.low-security {
//   background-color: #ffcccc; /* Rojo para baja seguridad */
// }

// .areaPssw-pssw.medium-security {
//   background-color: #ffff99; /* Amarillo para seguridad media */
// }

// .areaPssw-pssw.high-security {
//   background-color: #99ff99; /* Verde para alta seguridad */
// }